html {
	scroll-behavior: smooth;
}

.container {
	display: flex;
	flex-direction: row;
}

.leftnav {
	white-space: nowrap;
	width: fit-content;
	margin-right: 20px;
	padding-right: 20px;
	font-size: large;
	font-family: 'arial Narrow';
}

.indice {
	margin-left: 15px;
}

ul {
	list-style-type: square;
}

.leftnav li {
	padding: 3px;
}

li::marker {
	color: #D1551F;
}

.artigo {
	flex-grow: 1;
	width: max-content;
	text-align: justify;
	font-size: large;
	font-family: 'Segoe UI', Tahoma;
	margin-right: 45px;
}

.artigo p {
	text-indent: 50px;
}

.floatBox_right {
	border: thin dashed black;
	width: 30%;
	float: right;
	margin: 20px;
	padding: 5px;
	font-size: small;
	font-style: italic;
}

.floatBox_left {
	background: #000;
	border: thick solid black;
	max-width: 30%;
	height: fit-content;
	float: left;
	margin: 20px;
	margin-top: 0;
	font-size: small;
	font-style: italic;
}

.img {
	margin: 0;
	width: 100%;
	max-height: 350px;
	object-fit: contain;
}

.integrantes {
	display: flex;
	flex-direction: row;
	margin-top: 80px;
}

.flyer {
	color: white;
	background-color: #e76d39;
	border: thin solid black;
	border-radius: 20px;
	margin: auto;
	padding: 20PX;
	width: 150px;
	height: 330px;
	transition: 0.3s
}

.flyer:hover {
	background: #e84e23;
}

.flyer img {
	background-color: white;
	border: 3px solid black;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 20px;
}

.flyer li::marker {
	color: black;
}